/** contains color/contrast adjusted icons & stuff **/

html {
    background-image: url(zebra.png);}
.last_read,
.show_torrents a,
.hide_torrents a {
    background-image: url(arrow30x26.png);}
.prev,
.next {
    background-image: url(icon/arrow_right46x42.png);}
#equipment #equip_panel {
    background: url(equipment_panel_test.png);}
#shop li.item_li.nostock #clickable .item_description,
#shop li.item_li.featured.nostock #clickable .item_description {
    background: url(soldoutwhite.png);}

img[title="Ratio"],
img[title="Snatches"] {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 428.029 429.494"><path d="M68.49,372.457c72.261,67.4,183.08,76.065,264.927,20.66,107.054-72.4,125.09-219.308,44.738-315.2L421.887,40.43c2.43-2.083,1.118-6.226-2.158-6.974L276.413.093a3.651,3.651,0,0,0-4.479,3.84l11.054,146.732c.239,3.351,4.209,5.217,6.562,3.2l43.657-37.421c56.143,67.649,45.167,169.78-26.614,223.407-61.706,46.174-149.888,39.179-203.655-16.018-56.988-58.495-57.9-148.987-7.508-208.514a29.541,29.541,0,0,0-.25-38.244C83.53,63.483,62.347,63.2,50.731,76.846-21.235,161.45-17.8,291.923,68.49,372.457Z" fill="#000"/></svg>');}
a >img[title="Ratio"],
a >img[title="Snatches"] {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 428.029 429.494"><path d="M68.49,372.457c72.261,67.4,183.08,76.065,264.927,20.66,107.054-72.4,125.09-219.308,44.738-315.2L421.887,40.43c2.43-2.083,1.118-6.226-2.158-6.974L276.413.093a3.651,3.651,0,0,0-4.479,3.84l11.054,146.732c.239,3.351,4.209,5.217,6.562,3.2l43.657-37.421c56.143,67.649,45.167,169.78-26.614,223.407-61.706,46.174-149.888,39.179-203.655-16.018-56.988-58.495-57.9-148.987-7.508-208.514a29.541,29.541,0,0,0-.25-38.244C83.53,63.483,62.347,63.2,50.731,76.846-21.235,161.45-17.8,291.923,68.49,372.457Z" fill="#2a4f65"/></svg>');}
a:hover >img[title="Ratio"],
a:hover >img[title="Snatches"] {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 428.029 429.494"><path d="M68.49,372.457c72.261,67.4,183.08,76.065,264.927,20.66,107.054-72.4,125.09-219.308,44.738-315.2L421.887,40.43c2.43-2.083,1.118-6.226-2.158-6.974L276.413.093a3.651,3.651,0,0,0-4.479,3.84l11.054,146.732c.239,3.351,4.209,5.217,6.562,3.2l43.657-37.421c56.143,67.649,45.167,169.78-26.614,223.407-61.706,46.174-149.888,39.179-203.655-16.018-56.988-58.495-57.9-148.987-7.508-208.514a29.541,29.541,0,0,0-.25-38.244C83.53,63.483,62.347,63.2,50.731,76.846-21.235,161.45-17.8,291.923,68.49,372.457Z" fill="#e85066"/></svg>');}
img[title="Downloaded"],
img[title="Uploaded"],
img[title="Leechers"],
img[title="Seeders"] {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 15"><polygon points="5.5 0 0 7 3 7 3 15 8 15 8 7 11 7 5.5 0" fill="#000"/></svg>');}
a >img[title="Downloaded"],
a >img[title="Uploaded"],
a >img[title="Leechers"],
a >img[title="Seeders"] {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 15"><polygon points="5.5 0 0 7 3 7 3 15 8 15 8 7 11 7 5.5 0" fill="#2a4f65"/></svg>');}
a:hover >img[title="Downloaded"],
a:hover >img[title="Uploaded"],
a:hover >img[title="Leechers"],
a:hover >img[title="Seeders"] {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 15"><polygon points="5.5 0 0 7 3 7 3 15 8 15 8 7 11 7 5.5 0" fill="#e85066"/></svg>');}
img[title="Downloaded"],
img[title="Leechers"] {
    transform: scaleY(-1);}



img[src="static//styles/game_room/images/go_last_read.png"] {
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    content: url('icon/svg/arrow_light.svg');}

#forums #content .thin td.unread{
    background-image: url(icon/balloon-unread.png);}
#forums #content .thin td.unread_sticky {
    background-image:url(icon/sticky-unread.png);}
#forums #content .thin td.unread_locked {
    background-image:url(icon/lock-unread.png);}
#forums #content .thin td.unread_locked_sticky {
    background-image: url(icon/lock-sticky-unread.png);}

#header #alerts {
    background: url(icon/svg/toolbar-dark.svg);}

.amigacd32 {
    background: url(icon/svg/amigacd32_dark.svg);}
.amstradcpc {
    background: url(icon/svg/amstradcpc_dark.svg);}
.atarist {
    background: url(icon/svg/atarist_dark.svg);}
.fairchildchannelf {
    background: url(icon/svg/fairchildchannelf_dark.svg);}
.gameboycolor {
    background: url(icon/svg/gameboycolor_dark.svg);}
.gamegear {
    background: url(icon/svg/gamegear_dark.svg);}
.nes {
    background: url(icon/svg/nes_dark.svg);}
.newnintendo3ds {
    background: url(icon/svg/newnintendo3ds_dark.svg);}
.nintendo3ds {
    background: url(icon/svg/nintendo3ds_dark.svg);}
.nokian-gage {
    background: url(icon/svg/nokian-gage_dark.svg);}
.rcastudioii {
    background: url(icon/svg/rcastudioii_dark.svg);}
.tangerineoric {
    background: url(icon/svg/tangerineoric_dark.svg);}
.v\.smile {
    background: url(icon/svg/v.smile_dark.svg);}
.watarasupervision {
    background: url(icon/svg/watarasupervision_dark.svg);}
.wiiu {
    background: url(icon/svg/wiiu_dark.svg);}
.torrent_table a.removebookmark {
    background: url("icon/svg/bookmarked_dark.svg");}
.torrent_table a.removebookmark:hover {
    background: url("icon/svg/removebookmark_dark.svg");}
.Amazon {
    background-image: url("weblinks/svg/Amazon_dark.svg");}

.boardgame,
.cardgame,
.cats_guides,
.cats_ebooks,
.ebook,
.gameboy,
.gameboyadvance,
.generalcomputervectrex,
.interactivedvd,
.ios,
.mac,
.mattelintellivision,
.memotechmtx,
.miniaturewargames,
.music,
.cats_ost,
.necpc-98,
.necturbografx-16,
.nintendods,
.penandpaperrpg,
.phonepda,
.playstation2,
.playstation3,
.playstation4,
.playstationportable,
.playstationvita,
.sharpx1,
.sharpx68000,
.snkneogeo,
.thomsonmo5,
.wii,
.torrent_table a.addbookmark,
.Discogs,
.GamesWebsite,
.GOG,
.Steam,
.vectrex {
    -webkit-filter: brightness(20%);
    -moz-filter: brightness(20%);
    -ms-filter: brightness(20%);
    -o-filter: brightness(20%);
    filter: brightness(20%);}

.tilt.Discogs:hover,
.tilt.GamesWebsite:hover,
.tilt.GOG:hover,
.tilt.Steam:hover,
#linkedgroup.boardgame:hover,
#linkedgroup.cardgame:hover,
#linkedgroup.cats_guides:hover,
#linkedgroup.cats_ebooks:hover,
#linkedgroup.ebook:hover,
#linkedgroup.gameboy:hover,
#linkedgroup.gameboyadvance:hover,
#linkedgroup.generalcomputervectrex:hover,
#linkedgroup.interactivedvd:hover,
#linkedgroup.ios:hover,
#linkedgroup.mac:hover,
#linkedgroup.mattelintellivision:hover,
#linkedgroup.memotechmtx:hover,
#linkedgroup.miniaturewargames:hover,
#linkedgroup.music:hover,
#linkedgroup.cats_ost:hover,
#linkedgroup.necpc-98:hover,
#linkedgroup.necturbografx-16:hover,
#linkedgroup.nintendods:hover,
#linkedgroup.penandpaperrpg:hover,
#linkedgroup.phonepda:hover,
#linkedgroup.playstation2:hover,
#linkedgroup.playstation3:hover,
#linkedgroup.playstation4:hover,
#linkedgroup.playstationportable:hover,
#linkedgroup.playstationvita:hover,
#linkedgroup.sharpx1:hover,
#linkedgroup.sharpx68000:hover,
#linkedgroup.snkneogeo:hover,
#linkedgroup.thomsonmo5:hover,
#linkedgroup.wii:hover,
#linkedgroup.vectrex:hover,
.torrent_table a.addbookmark:hover {
    -webkit-filter: brightness(20%) drop-shadow(0px 0 3px rgb(232,80,102));
    -moz-filter: brightness(20%) drop-shadow(0px 0 3px rgb(232,80,102));
    -ms-filter: brightness(20%) drop-shadow(0px 0 3px rgb(232,80,102));
    -o-filter: brightness(20%) drop-shadow(0px 0 3px rgb(232,80,102));
    filter: brightness(20%) drop-shadow(0px 0 3px rgb(232,80,102));}

@media (max-width: 800px) {
#menu {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 476.73687 476.73703"><path d="M429.06708,31.78a15.89,15.89,0,0,1,0,31.78H47.66993a15.89,15.89,0,0,1,0-31.78H429.06708m0-31.78H47.66993a47.67,47.67,0,0,0,0,95.34H429.06708a47.67,47.67,0,0,0,0-95.34Z" transform="translate(-0.00007 0.00003)" fill="#333"/><path d="M429.06708,222.4785a15.89,15.89,0,0,1,0,31.78H47.66993a15.89,15.89,0,0,1,0-31.78H429.06708m0-31.78H47.66993a47.67,47.67,0,0,0,0,95.34H429.06708a47.67,47.67,0,0,0,0-95.34Z" transform="translate(-0.00007 0.00003)" fill="#333"/><path d="M429.06708,413.177a15.89,15.89,0,0,1,0,31.78H47.66993a15.89,15.89,0,0,1,0-31.78H429.06708m0-31.78H47.66993a47.67,47.67,0,0,0,0,95.34H429.06708a47.67,47.67,0,0,0,0-95.34Z" transform="translate(-0.00007 0.00003)" fill="#333"/></svg>');}
#menu:hover {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 476.737 476.737"><rect width="476.737" height="95.34" rx="47.66995" ry="47.66995" fill="#333"/><rect y="190.6985" width="476.737" height="95.34" rx="47.66995" ry="47.66995" fill="#333"/><rect y="381.397" width="476.737" height="95.34" rx="47.66995" ry="47.66995" fill="#333"/></svg>');}
#header .sub {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 303.99506 486.37623"><path d="M151.997,31.78c14.89419,0,29.9935,6.55557,41.42609,17.98578C204.85718,61.19751,211.415,76.29932,211.415,91.199c0,14.8995-6.55771,30.00109-17.9917,41.43252-11.43259,11.43-26.53189,17.98547-41.4263,17.98547-14.904,0-30.00639-6.55468-41.43491-17.98327S92.579,106.1022,92.579,91.198s6.5544-30.00681,17.9827-41.43512S137.09258,31.78,151.997,31.78m0-31.78C103.175,0,60.799,42.377,60.799,91.198s42.377,91.199,91.198,91.199c48.791,0,91.198-42.377,91.198-91.198S200.788,0,151.997,0Z" transform="translate(0.00003 -0.00003)" fill="#333"/><path d="M151.997,244.576c28.862,0,58.44542,16.24894,81.16494,44.58046a173.07233,173.07233,0,0,1,28.28555,51.93166A198.20688,198.20688,0,0,1,272.215,406.076c0,5.39482-1.8299,10.11718-5.75894,14.86164-4.94364,5.96977-13.05906,11.70907-23.46882,16.59742-23.08895,10.84259-56.25354,17.06117-90.98977,17.06117S84.09679,448.37762,61.00774,437.535c-10.40966-4.88835-18.52506-10.62765-23.46883-16.59753C33.60985,416.19315,31.78,411.47079,31.78,406.076a198.21254,198.21254,0,0,1,10.76741-64.98848A173.07163,173.07163,0,0,1,70.83255,289.156c22.71918-28.33118,52.30248-44.58,81.16447-44.58m0-31.78C72.107,212.796,0,298.978,0,406.076c0,53.53353,75.99876,80.30029,151.99753,80.30029S303.995,459.6095,303.995,406.076c0-107.09694-72.108-193.28-151.998-193.28Z" transform="translate(0.00003 -0.00003)" fill="#333"/></svg>');}
#header .sub:hover {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 303.995 486.37625"><path d="M151.997,182.397c48.791,0,91.198-42.377,91.198-91.198S200.788,0,151.997,0C103.175,0,60.799,42.377,60.799,91.198S103.176,182.397,151.997,182.397Z" fill="#333"/><path d="M151.997,212.796C72.107,212.796,0,298.978,0,406.076c0,107.067,303.995,107.067,303.995,0C303.995,298.979,231.887,212.796,151.997,212.796Z" fill="#333"/></svg>');}
#userinfo_minor {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 476.73703 95.34001"><path d="M47.67,243.37172a15.89,15.89,0,1,1-15.89,15.89,15.90793,15.90793,0,0,1,15.89-15.89m0-31.78a47.67,47.67,0,1,0,47.67,47.67,47.67,47.67,0,0,0-47.67-47.67Z" transform="translate(0 -211.59171)" fill="#333"/><path d="M238.3685,243.37172a15.89,15.89,0,1,1-15.89,15.89,15.90793,15.90793,0,0,1,15.89-15.89m0-31.78a47.67,47.67,0,1,0,47.67,47.67,47.67008,47.67008,0,0,0-47.67-47.67Z" transform="translate(0 -211.59171)" fill="#333"/><path d="M429.067,243.37172a15.89,15.89,0,1,1-15.89,15.89,15.90795,15.90795,0,0,1,15.89-15.89m0-31.78a47.67,47.67,0,1,0,47.67,47.67,47.67,47.67,0,0,0-47.67-47.67Z" transform="translate(0 -211.59171)" fill="#333"/></svg>');}
#userinfo_minor:hover {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 476.737 95.34"><circle cx="47.67" cy="47.67" r="47.67" fill="#333"/><circle cx="238.3685" cy="47.67" r="47.67" fill="#333"/><circle cx="429.067" cy="47.67" r="47.67" fill="#333"/></svg>');}
#userinfo_stats {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 432.63709 476.73701"><path d="M228.63853,34.19469V253.99791l12.379,9.54129L402.48914,387.99762a208.70614,208.70614,0,0,1-49.61175,35.032A206.56012,206.56012,0,0,1,180.019,428.73449a206.72575,206.72575,0,0,1,0-380.73185,204.36519,204.36519,0,0,1,48.61957-13.80795m31.78-34.19464C128.77953.00005,22.05,106.72963,22.05,238.36848S128.77953,476.73706,260.41852,476.73706c76.84388,0,145.017-36.55972,188.60886-92.99343L260.41852,238.36848V.00005Z" transform="translate(-22.04996 -0.00005)" fill="#333"/><path d="M333.16816,94.1888a154.054,154.054,0,0,1,53.32745,40.20709,152.73149,152.73149,0,0,1,32.55423,133.08556l-85.88168-66.185V94.1888m-31.78-42.82468V216.92723L433.561,318.78679a182.99284,182.99284,0,0,0,21.126-85.40765c0-91.35447-66.24878-166.90491-153.29889-182.015Z" transform="translate(-22.04996 -0.00005)" fill="#333"/></svg>');}
#userinfo_stats:hover {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 432.63707 476.737"><path d="M260.41847,0C128.77955,0,22.05,106.72958,22.05,238.3685S128.77955,476.737,260.41847,476.737c76.844,0,145.017-36.55966,188.60886-92.99334L260.41847,238.3685Z" transform="translate(-22.04997)" fill="#333"/><path d="M301.38812,51.36416v165.563L433.561,318.78674a182.99281,182.99281,0,0,0,21.126-85.40761C454.687,142.02471,388.43824,66.47425,301.38812,51.36416Z" transform="translate(-22.04997)" fill="#333"/></svg>');}
#header >#searchbars {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 476.83069 476.82654"><path d="M283.51773.00013c-106.712,0-193.21912,86.50708-193.21912,193.21911a192.31914,192.31914,0,0,0,27.08625,98.7132L13.86832,395.449a47.67,47.67,0,0,0,0,67.41541l.00012.00012a47.67,47.67,0,0,0,67.41547,0L184.80417,359.34424a192.31029,192.31029,0,0,0,98.71356,27.09412c106.712,0,193.21912-86.50714,193.21912-193.21912S390.22977.00013,283.51773.00013ZM397.67252,307.374a161.01353,161.01353,0,0,1-216.53131,10.68945L158.588,340.61652h0L58.812,440.39258a15.88992,15.88992,0,0,1-22.47174-22.47174l99.78052-99.78051,10.84509-10.8451,11.70288-11.70288q-5.11276-6.21213-9.5498-12.843A161.47018,161.47018,0,1,1,397.67252,307.374Z" transform="translate(0.09384 -0.00013)" fill="#333"/><path d="M283.51773,95.34a97.87922,97.87922,0,1,1-97.87923,97.87921A97.87934,97.87934,0,0,1,283.51773,95.34m0-31.78a129.65927,129.65927,0,1,0,91.68289,37.97632A128.81031,128.81031,0,0,0,283.51773,63.56Z" transform="translate(0.09384 -0.00013)" fill="#333"/></svg>');}
#header >#searchbars:hover {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 476.8308 476.82664"><path d="M283.61162,0C176.8997,0,90.39244,86.5072,90.39244,193.21918a192.30349,192.30349,0,0,0,27.09448,98.705L13.9622,395.44885a47.67,47.67,0,0,0,0,67.41553l.00007.00006a47.67,47.67,0,0,0,67.41552,0L184.90141,359.34082a192.30367,192.30367,0,0,0,98.71021,27.09753c106.712,0,193.21918-86.50726,193.21918-193.21917S390.32359,0,283.61162,0Zm69.21112,262.4303a97.87953,97.87953,0,1,1,28.66809-69.21112A97.23853,97.23853,0,0,1,352.82274,262.4303Z" fill="#333"/></svg>');}
#torrents .main_column tr.group_torrent td:nth-child(1) span:first-child {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 12"><path d="M13.84631,4.4993H2.62653L5.928,1.28a.7374.7374,0,0,0,0-1.06059.78368.78368,0,0,0-1.08767,0L.225,4.71982a.7374.7374,0,0,0,0,1.06059l4.61528,4.50041a.78661.78661,0,0,0,1.08767,0,.7374.7374,0,0,0,0-1.06059L2.62649,5.99942H13.84631c3.07687,0,4.61528,2.76924,4.61528,5.25052a.76945.76945,0,0,0,1.53841,0C20.00005,7.93912,18.46164,4.4993,13.84631,4.4993Z" fill="#333"/></svg>');}
#shop #items_navigation,
#torrents .groupoptions {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488.29257 488.27944"><path d="M163.56958,36.98067,198.91773,76.18l10.99972,12.19812,16.32327-1.82641a163.5724,163.5724,0,0,1,18.12073-1.0203,153.56287,153.56287,0,0,1,17.42543.98444L278.138,88.39113,289.1736,76.18072l35.31461-39.07425q4.58811,1.784,9.09405,3.76657l-2.68268,52.49954-.84027,16.44385,12.89127,10.24313a159.646,159.646,0,0,1,25.25787,25.23786l10.24042,12.797,16.36886-.83188,52.75327-2.68084q1.00617,2.26149,1.92215,4.47329.91059,2.19819,1.79681,4.50385l-39.17224,35.38272-12.135,10.961,1.77329,16.25613a163.71617,163.71617,0,0,1,.02826,35.80858l-1.81528,16.299L412.14015,289.258l39.04639,35.26305q-1.7806,4.576-3.76611,9.08273l-52.54114-2.67493-16.44028-.837-10.24084,12.88843a157.63943,157.63943,0,0,1-25.19388,25.11614L330.14958,378.34l.839,16.41558,2.69864,52.80481q-2.25832,1.00464-4.46792,1.91975-2.1964.90981-4.50058,1.79553L289.323,412.07857l-10.98629-12.16629-16.2927,1.80786a166.0263,166.0263,0,0,1-18.239,1.02044,155.41246,155.41246,0,0,1-17.47057-.97858l-16.34271-1.85629-11.02158,12.20872-35.23339,39.02829q-4.57463-1.78014-9.07882-3.7646l2.67493-52.54112.837-16.44014L145.28159,368.156a157.64359,157.64359,0,0,1-25.11614-25.19371l-10.24172-12.85271-16.41286.83643L40.728,333.63582q-.99279-2.2399-1.91665-4.47082-.924-2.23057-1.81-4.52684l39.20038-35.39745L88.4003,278.22558,86.553,261.89387a158.43917,158.43917,0,0,1-.06386-35.62987l1.85628-16.34271L76.13673,198.89971l-39.02-35.22592q1.78254-4.58351,3.76351-9.08569l52.53407,2.67434,16.44443.83713,10.24057-12.89371A157.47608,157.47608,0,0,1,145.28888,120.095l12.85042-10.23984-.834-16.4103-2.68106-52.75739q2.24138-.99353,4.47378-1.918,2.2122-.91635,4.47156-1.78876M244.15888,361.834a117.724,117.724,0,1,0-117.724-117.724,117.85725,117.85725,0,0,0,117.724,117.724M173.3113,0a242.36509,242.36509,0,0,0-51.70757,21.418l3.74286,73.651a189.25033,189.25033,0,0,0-30.30543,30.23486L21.52273,121.5613A256.8019,256.8019,0,0,0,.0743,173.344l54.61929,49.30841a190.16713,190.16713,0,0,0,.06214,42.83815L0,314.93429A262.41271,262.41271,0,0,0,9.24716,341.411a254.25677,254.25677,0,0,0,12.21271,25.24829l73.67957-3.75471A188.94914,188.94914,0,0,0,125.3743,393.21l-3.74286,73.51757a255.40133,255.40133,0,0,0,51.783,21.44929l49.30843-54.61929a186.79908,186.79908,0,0,0,21.08211,1.183,197.36509,197.36509,0,0,0,21.76831-1.21556l49.4443,54.75443a269.953,269.953,0,0,0,26.448-9.23529,262.37143,262.37143,0,0,0,25.24829-12.21271l-3.767-73.70914a188.94915,188.94915,0,0,0,30.30542-30.23486l73.51758,3.74286a255.40114,255.40114,0,0,0,21.44928-51.783l-54.63144-49.338a195.46409,195.46409,0,0,0-.02041-42.82084l54.72528-49.43116a269.97972,269.97972,0,0,0-9.23514-26.448A262.40338,262.40338,0,0,0,466.84459,121.561l-73.651,3.74285a191.1756,191.1756,0,0,0-30.33572-30.29827l3.75515-73.488A256.81735,256.81735,0,0,0,314.83.06829l-49.39712,54.656a184.992,184.992,0,0,0-21.07138-1.19291,194.98215,194.98215,0,0,0-21.67905,1.21875L173.3113,0Zm70.84758,329.834a85.724,85.724,0,1,1,85.724-85.724,85.72746,85.72746,0,0,1-85.724,85.724Z" transform="translate(-0.00002 0.00001)" fill="#333"/></svg>');}
#shop #items_navigation:hover,
#torrents .groupoptions:hover {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488.29263 488.27944"><path d="M488.29263,173.25732a269.97779,269.97779,0,0,0-9.23524-26.44806,262.41064,262.41064,0,0,0-12.21275-25.2483l-73.651,3.74292a191.18188,191.18188,0,0,0-30.33584-30.29829l3.75522-73.488A256.80773,256.80773,0,0,0,314.83.06836L265.4328,54.72429a190.07509,190.07509,0,0,0-42.75031.0258L173.31138,0A242.36016,242.36016,0,0,0,121.6037,21.418l3.74292,73.651a189.2459,189.2459,0,0,0-30.30547,30.2349l-73.51849-3.74258A256.80142,256.80142,0,0,0,.07437,173.344l54.61919,49.30854a190.1717,190.1717,0,0,0,.06215,42.83807L0,314.93434a262.45162,262.45162,0,0,0,9.24709,26.47671,254.30213,254.30213,0,0,0,12.21275,25.2483l73.67963-3.7548A188.95005,188.95005,0,0,0,125.37436,393.21l-3.74295,73.51758a255.40311,255.40311,0,0,0,51.783,21.44922l49.30853-54.61921a192.0168,192.0168,0,0,0,42.85032-.03257l49.44433,54.7544a269.97608,269.97608,0,0,0,26.44806-9.23524,262.3975,262.3975,0,0,0,25.2483-12.21275l-3.767-73.7092a188.95005,188.95005,0,0,0,30.30547-30.23489l73.51755,3.743a255.403,255.403,0,0,0,21.44922-51.783L433.5877,265.50926a195.46758,195.46758,0,0,0-.02033-42.82075ZM244.15886,329.83394a85.724,85.724,0,1,1,85.724-85.724A85.7274,85.7274,0,0,1,244.15886,329.83394Z" fill="#333"/></svg>');}
#header #alerts {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 486.92239 486.84703"><path d="M163.08876,304.30643l19.517,19.49853L55.38305,451.054a13.80308,13.80308,0,1,1-19.53589-19.50511l127.2416-127.24245m-.01071-44.96144L13.36105,409.063a45.6031,45.6031,0,0,0,64.508,64.477l149.717-149.748-64.508-64.447Z" transform="translate(-0.00055 -0.03796)" fill="#333"/><path d="M446.82053,40.121,429.15988,74.26334,394.99228,91.929l17.69247-34.12665L446.82053,40.121M455.065.038,389.098,34.207l-33.774,65.146-79.312,79.403,32.163,32.224,79.373-79.403,65.207-33.714,34.138-65.997L455.065.038Z" transform="translate(-0.00055 -0.03796)" fill="#333"/><path d="M140.45717,129.86618l-.35724.96445,14.41229,14.41458,187.17,187.2,14.415,14.4173.97485-.3611a60.57076,60.57076,0,0,0-5.35779,4.78606,61.18033,61.18033,0,0,0-5.02533,5.68983l.519-1.42494-14.326-14.32843-187.13913-187.17-14.371-14.37329-1.15551.42435a63.26066,63.26066,0,0,0,5.49179-4.88992l.01943-.01944.01942-.01941a61.14446,61.14446,0,0,0,4.71024-5.31M91.73008.03806a90.24,90.24,0,0,0-39.094,9.12l60.58586,60.586a29.74233,29.74233,0,0,1,6.84014,10.944,30.37545,30.37545,0,0,1-49.825,32.011L9.65194,52.14307a90.23988,90.23988,0,0,0-9.12,39.094c0,48.274,37.604,87.36786,85.058,90.59l6.141.608a91.15109,91.15109,0,0,0,31.524-5.897l187.13913,187.17a91.83338,91.83338,0,0,0-5.86712,31.524l.63812,6.141c3.16186,47.484,42.286,85.05786,90.55988,85.05786a89.28234,89.28234,0,0,0,39.094-9.12l-60.586-60.586a31.03794,31.03794,0,0,1-6.901-10.913,30.30244,30.30244,0,0,1,28.393-40.978,29.89869,29.89869,0,0,1,10.57913,2.067,29.16185,29.16185,0,0,1,10.913,6.84l60.586,60.586a89.92106,89.92106,0,0,0,9.11987-39.094c-.03-48.27586-37.634-87.36986-85.088-90.59186l-6.141-.608a90.45407,90.45407,0,0,0-31.52387,5.928l-187.17-187.2a90.45474,90.45474,0,0,0,5.928-31.524l-.60816-6.141c-3.222-47.454-42.316-85.058-90.58985-85.058Z" transform="translate(-0.00055 -0.03796)" fill="#333"/></svg>');}
#header #alerts:hover {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 486.9225 486.84698"><path d="M13.361,409.063A45.60309,45.60309,0,0,0,77.869,473.54L227.586,323.792l-64.508-64.447Z" transform="translate(-0.0005 -0.038)" fill="#333"/><polygon points="387.548 131.539 452.755 97.825 486.893 31.828 455.065 0 389.097 34.169 355.324 99.315 276.011 178.718 308.174 210.942 387.548 131.539" fill="#333"/><path d="M401.835,304.641l-6.141-.608a90.45474,90.45474,0,0,0-31.524,5.928L177,122.761a90.45528,90.45528,0,0,0,5.928-31.524l-.608-6.141C179.098,37.642,140.004.038,91.73.038a90.24,90.24,0,0,0-39.094,9.12l60.586,60.586a29.74193,29.74193,0,0,1,6.84,10.944,30.37545,30.37545,0,0,1-49.825,32.011L9.652,52.143A90.24,90.24,0,0,0,.532,91.237c0,48.274,37.604,87.368,85.058,90.59l6.141.608a91.1509,91.1509,0,0,0,31.524-5.897l187.139,187.17a91.8361,91.8361,0,0,0-5.867,31.524l.638,6.141c3.162,47.484,42.286,85.058,90.56,85.058a89.283,89.283,0,0,0,39.094-9.12l-60.586-60.586a31.03734,31.03734,0,0,1-6.901-10.913,30.30247,30.30247,0,0,1,28.393-40.978,29.899,29.899,0,0,1,10.579,2.067,29.16185,29.16185,0,0,1,10.913,6.84l60.586,60.586a89.91931,89.91931,0,0,0,9.12-39.094C486.893,346.957,449.289,307.863,401.835,304.641Z" transform="translate(-0.0005 -0.038)" fill="#333"/></svg>');}
}


@media screen and (max-width: 400px) {
    #header .global_buffs {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 486.392 486.392"><path d="M196.496,153.098v28.198H31.5V168.098a15,15,0,0,1,15-15H196.496m31.5-31.5H30.399A30.4104,30.4104,0,0,0,0,151.997v60.799H227.996V121.598Z" transform="translate(0)" fill="#333"/><path d="M425.593,45.599C425.593,20.428,406.775,0,364.794,0c-39.307,0-70.253,17.692-91.198,38.212a60.02094,60.02094,0,0,0-61.407-.608C191.273,17.328,160.509,0,121.598,0,79.616,0,60.799,20.428,60.799,45.599s18.817,45.599,60.799,45.599H243.196l-.03-.243h.091l-.061.243H364.794C406.775,91.198,425.593,70.77,425.593,45.599Zm-236.721,15.2H121.598c-13.862,0-30.399-2.645-30.399-15.2s16.537-15.2,30.399-15.2c30.217,0,53.138,13.528,68.581,28.028Zm106.185-1.277c15.443-15.017,38.851-29.123,69.736-29.123,13.862,0,30.399,2.645,30.399,15.2s-16.537,15.2-30.399,15.2H295.756Z" transform="translate(0)" fill="#333"/><path d="M196.49605,274.696v180.1949H76.89905a15,15,0,0,1-15-15V274.696h134.597m31.5-31.5H30.39905v212.796a30.40967,30.40967,0,0,0,30.399,30.39889h167.198V243.196Z" transform="translate(0)" fill="#333"/><path d="M424.492,274.696V439.892a15,15,0,0,1-15,15H289.896V274.696H424.492m31.5-31.5H258.396V486.392H425.593a30.40978,30.40978,0,0,0,30.399-30.399V243.196Z" transform="translate(0)" fill="#333"/><path d="M289.896,153.098H439.892a15,15,0,0,1,15,15v13.198H289.896V153.098m-31.5-31.5v91.198H486.392V151.997a30.4104,30.4104,0,0,0-30.399-30.399Z" transform="translate(0)" fill="#333"/></svg>');}
    #header .global_buffs:hover {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 486.39203 486.392"><path d="M0,151.997v60.799H227.996V121.598H30.399A30.41042,30.41042,0,0,0,0,151.997Z" fill="#333"/><path d="M425.593,45.599C425.593,20.428,406.775,0,364.794,0c-39.307,0-70.253,17.692-91.198,38.212a60.02094,60.02094,0,0,0-61.407-.608C191.273,17.328,160.509,0,121.598,0,79.616,0,60.799,20.428,60.799,45.599s18.817,45.599,60.799,45.599H243.196l-.03-.243h.091l-.061.243H364.794C406.775,91.198,425.593,70.77,425.593,45.599Zm-236.721,15.2H121.598c-13.862,0-30.399-2.645-30.399-15.2s16.537-15.2,30.399-15.2c30.217,0,53.138,13.528,68.581,28.028Zm106.185-1.277c15.443-15.017,38.851-29.123,69.736-29.123,13.862,0,30.399,2.645,30.399,15.2s-16.537,15.2-30.399,15.2H295.756Z" fill="#333"/><path d="M30.399,455.992a30.40975,30.40975,0,0,0,30.399,30.399H227.996V243.196H30.399Z" fill="#333"/><path d="M455.992,121.598H258.396v91.198H486.392V151.997A30.41066,30.41066,0,0,0,455.992,121.598Z" fill="#333"/><path d="M258.396,486.392H425.593a30.40974,30.40974,0,0,0,30.399-30.399V243.196H258.396Z" fill="#333"/></svg>');}
}