/** contains color/contrast adjusted icons & stuff **/

html {
    background-image: url(zebra.png);}
.last_read,
.show_torrents a,
.hide_torrents a {
    background-image: url(arrow30x26.png);}
.prev,
.next {
    background-image: url(icon/arrow_right46x42.png);}
#equipment #equip_panel {
    background: url(equipment_panel_test.png);}
#shop li.item_li.nostock #clickable .item_description,
#shop li.item_li.featured.nostock #clickable .item_description {
    background: url(soldoutwhite.png);}

img[alt="Snatches"],
img[title="Ratio"],
img[title="Snatches"] {
    background-image: url('icon/svg/snatches_dark.svg');}
a >img[alt="Snatches"],
a >img[title="Ratio"],
a >img[title="Snatches"] {
    background-image: url('icon/svg/a.snatches_dark.svg');}
a:hover >img[alt="Snatches"],
a:hover >img[title="Ratio"],
a:hover >img[title="Snatches"] {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 428.029 429.494"><path d="M68.49,372.457c72.261,67.4,183.08,76.065,264.927,20.66,107.054-72.4,125.09-219.308,44.738-315.2L421.887,40.43c2.43-2.083,1.118-6.226-2.158-6.974L276.413.093a3.651,3.651,0,0,0-4.479,3.84l11.054,146.732c.239,3.351,4.209,5.217,6.562,3.2l43.657-37.421c56.143,67.649,45.167,169.78-26.614,223.407-61.706,46.174-149.888,39.179-203.655-16.018-56.988-58.495-57.9-148.987-7.508-208.514a29.541,29.541,0,0,0-.25-38.244C83.53,63.483,62.347,63.2,50.731,76.846-21.235,161.45-17.8,291.923,68.49,372.457Z" fill="rgb(232, 80, 102)"/></svg>');}
img[alt="Seeders"],
img[alt="Leechers"],
img[title="Downloaded"],
img[title="Uploaded"],
img[title="Leechers"],
img[title="Seeders"] {
    background-image: url('icon/svg/downloaded_dark.svg');}
a >img[alt="Seeders"],
a >img[alt="Leechers"],
a >img[title="Downloaded"],
a >img[title="Uploaded"],
a >img[title="Leechers"],
a >img[title="Seeders"] {
    background-image: url('icon/svg/a.downloaded_dark.svg');}
a:hover >img[alt="Seeders"],
a:hover >img[alt="Leechers"],
a:hover >img[title="Downloaded"],
a:hover >img[title="Uploaded"],
a:hover >img[title="Leechers"],
a:hover >img[title="Seeders"] {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 15"><polygon points="5.5 0 0 7 3 7 3 15 8 15 8 7 11 7 5.5 0" fill="rgb(232, 80, 102)"/></svg>');}
img[alt="Leechers"],
img[title="Downloaded"],
img[title="Leechers"] {
    transform: scaleY(-1);}



img[src="static//styles/game_room/images/go_last_read.png"] {
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    content: url('icon/svg/arrow_light.svg');}

#forums #content .thin td.unread{
    background-image: url(icon/balloon-unread.png);}
#forums #content .thin td.unread_sticky {
    background-image:url(icon/sticky-unread.png);}
#forums #content .thin td.unread_locked {
    background-image:url(icon/lock-unread.png);}
#forums #content .thin td.unread_locked_sticky {
    background-image: url(icon/lock-sticky-unread.png);}

#header #alerts {
    background: url(icon/svg/toolbar-dark.svg);}

.amigacd32 {
    background: url(icon/svg/amigacd32_dark.svg);}
.amstradcpc {
    background: url(icon/svg/amstradcpc_dark.svg);}
.atarist {
    background: url(icon/svg/atarist_dark.svg);}
.fairchildchannelf {
    background: url(icon/svg/fairchildchannelf_dark.svg);}
.gameboycolor {
    background: url(icon/svg/gameboycolor_dark.svg);}
.gamegear {
    background: url(icon/svg/gamegear_dark.svg);}
.nes {
    background: url(icon/svg/nes_dark.svg);}
.newnintendo3ds {
    background: url(icon/svg/newnintendo3ds_dark.svg);}
.nintendo3ds {
    background: url(icon/svg/nintendo3ds_dark.svg);}
.nokian-gage {
    background: url(icon/svg/nokian-gage_dark.svg);}
.philipscd-i {
    background: url(icon/svg/philipscd-i_dark.svg);}
.rcastudioii {
    background: url(icon/svg/rcastudioii_dark.svg);}
.tangerineoric {
    background: url(icon/svg/tangerineoric_dark.svg);}
.v\.smile {
    background: url(icon/svg/v.smile_dark.svg);}
.watarasupervision {
    background: url(icon/svg/watarasupervision_dark.svg);}
.wiiu {
    background: url(icon/svg/wiiu_dark.svg);}
#bookmarks table.collections_art_display .remove_bookmark_div,
.torrent_table a.removebookmark {
    background: url("icon/svg/bookmarked_dark.svg");}
#bookmarks table.collections_art_display .remove_bookmark_div:hover,
.torrent_table a.removebookmark:hover {
    background: url("icon/svg/removebookmark_dark.svg");}
.Amazon {
    background-image: url("weblinks/svg/Amazon_dark.svg");}
.EpicGames {
    background-image: url("weblinks/svg/EpicGames_dark.svg");}

tr.participated >td:nth-child(2):before,
.boardgame,
.cardgame,
.cats_guides,
.cats_ebooks,
.ebook,
.gameboy,
.gameboyadvance,
.generalcomputervectrex,
.interactivedvd,
.ios,
.mac,
.mattelintellivision,
.memotechmtx,
.miniaturewargames,
.music,
.cats_ost,
.necpc-98,
.necturbografx-16,
.nintendods,
.penandpaperrpg,
.phonepda,
.playstation2,
.playstation3,
.playstation4,
.playstationportable,
.playstationvita,
.sharpx1,
.sharpx68000,
.snkneogeo,
.thomsonmo5,
.wii,
.torrent_table a.addbookmark,
.Discogs,
.GamesWebsite,
.GOG,
.Steam,
.vectrex {
    -webkit-filter: brightness(20%);
    -moz-filter: brightness(20%);
    -ms-filter: brightness(20%);
    -o-filter: brightness(20%);
    filter: brightness(20%);}

.tilt.Discogs:hover,
.tilt.GamesWebsite:hover,
.tilt.GOG:hover,
.tilt.Steam:hover,
#linkedgroup.boardgame:hover,
#linkedgroup.cardgame:hover,
#linkedgroup.cats_guides:hover,
#linkedgroup.cats_ebooks:hover,
#linkedgroup.ebook:hover,
#linkedgroup.gameboy:hover,
#linkedgroup.gameboyadvance:hover,
#linkedgroup.generalcomputervectrex:hover,
#linkedgroup.interactivedvd:hover,
#linkedgroup.ios:hover,
#linkedgroup.mac:hover,
#linkedgroup.mattelintellivision:hover,
#linkedgroup.memotechmtx:hover,
#linkedgroup.miniaturewargames:hover,
#linkedgroup.music:hover,
#linkedgroup.cats_ost:hover,
#linkedgroup.necpc-98:hover,
#linkedgroup.necturbografx-16:hover,
#linkedgroup.nintendods:hover,
#linkedgroup.penandpaperrpg:hover,
#linkedgroup.phonepda:hover,
#linkedgroup.playstation2:hover,
#linkedgroup.playstation3:hover,
#linkedgroup.playstation4:hover,
#linkedgroup.playstationportable:hover,
#linkedgroup.playstationvita:hover,
#linkedgroup.sharpx1:hover,
#linkedgroup.sharpx68000:hover,
#linkedgroup.snkneogeo:hover,
#linkedgroup.thomsonmo5:hover,
#linkedgroup.wii:hover,
#linkedgroup.vectrex:hover,
.torrent_table a.addbookmark:hover {
    -webkit-filter: brightness(20%) drop-shadow(0px 0 3px rgb(232,80,102));
    -moz-filter: brightness(20%) drop-shadow(0px 0 3px rgb(232,80,102));
    -ms-filter: brightness(20%) drop-shadow(0px 0 3px rgb(232,80,102));
    -o-filter: brightness(20%) drop-shadow(0px 0 3px rgb(232,80,102));
    filter: brightness(20%) drop-shadow(0px 0 3px rgb(232,80,102));}

@media (max-width: 800px) {
#menu {
    background-image: url('icon/svg/mobile/menu_dark.svg');}
#menu:hover {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 476.737 476.737"><rect width="476.737" height="95.34" rx="47.66995" ry="47.66995" fill="rgb(51, 51, 51)"/><rect y="190.6985" width="476.737" height="95.34" rx="47.66995" ry="47.66995" fill="rgb(51, 51, 51)"/><rect y="381.397" width="476.737" height="95.34" rx="47.66995" ry="47.66995" fill="rgb(51, 51, 51)"/></svg>');}
.sub {
    background-image: url('icon/svg/mobile/sub_dark.svg');}
.sub:hover {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 303.995 486.37625"><path d="M151.997,182.397c48.791,0,91.198-42.377,91.198-91.198S200.788,0,151.997,0C103.175,0,60.799,42.377,60.799,91.198S103.176,182.397,151.997,182.397Z" fill="rgb(51, 51, 51)"/><path d="M151.997,212.796C72.107,212.796,0,298.978,0,406.076c0,107.067,303.995,107.067,303.995,0C303.995,298.979,231.887,212.796,151.997,212.796Z" fill="rgb(51, 51, 51)"/></svg>');}
#userinfo_minor {
    background-image: url('icon/svg/mobile/ui_minor_dark.svg');}
#userinfo_minor.highlighted {
    background-image: url('icon/svg/mobile/ui_minor_highlighted_dark.svg');}
#userinfo_minor:hover {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 476.737 95.34"><circle cx="47.67" cy="47.67" r="47.67" fill="rgb(51, 51, 51)"/><circle cx="238.3685" cy="47.67" r="47.67" fill="rgb(51, 51, 51)"/><circle cx="429.067" cy="47.67" r="47.67" fill="rgb(51, 51, 51)"/></svg>');}
#userinfo_stats {
    background-image: url('icon/svg/mobile/ui_stats_dark.svg');}
#userinfo_stats:hover {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 432.63707 476.737"><path d="M260.41847,0C128.77955,0,22.05,106.72958,22.05,238.3685S128.77955,476.737,260.41847,476.737c76.844,0,145.017-36.55966,188.60886-92.99334L260.41847,238.3685Z" transform="translate(-22.04997)" fill="rgb(51, 51, 51)"/><path d="M301.38812,51.36416v165.563L433.561,318.78674a182.99281,182.99281,0,0,0,21.126-85.40761C454.687,142.02471,388.43824,66.47425,301.38812,51.36416Z" transform="translate(-22.04997)" fill="rgb(51, 51, 51)"/></svg>');}
#header >#searchbars {
    background-image: url('icon/svg/mobile/searchbars_dark.svg');}
#header >#searchbars:hover {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 476.8308 476.82664"><path d="M283.61162,0C176.8997,0,90.39244,86.5072,90.39244,193.21918a192.30349,192.30349,0,0,0,27.09448,98.705L13.9622,395.44885a47.67,47.67,0,0,0,0,67.41553l.00007.00006a47.67,47.67,0,0,0,67.41552,0L184.90141,359.34082a192.30367,192.30367,0,0,0,98.71021,27.09753c106.712,0,193.21918-86.50726,193.21918-193.21917S390.32359,0,283.61162,0Zm69.21112,262.4303a97.87953,97.87953,0,1,1,28.66809-69.21112A97.23853,97.23853,0,0,1,352.82274,262.4303Z" fill="rgb(51, 51, 51)"/></svg>');}
#torrents .main_column tr.group_torrent td:nth-child(1) span:first-child {
    background-image: url('icon/svg/mobile/tor_more_dark.svg');}
#items_navigation,
#torrents .groupoptions {
    background-image: url('icon/svg/mobile/groupotions_dark.svg');}
#shop #items_navigation:hover,
#torrents .groupoptions:hover {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488.29263 488.27944"><path d="M488.29263,173.25732a269.97779,269.97779,0,0,0-9.23524-26.44806,262.41064,262.41064,0,0,0-12.21275-25.2483l-73.651,3.74292a191.18188,191.18188,0,0,0-30.33584-30.29829l3.75522-73.488A256.80773,256.80773,0,0,0,314.83.06836L265.4328,54.72429a190.07509,190.07509,0,0,0-42.75031.0258L173.31138,0A242.36016,242.36016,0,0,0,121.6037,21.418l3.74292,73.651a189.2459,189.2459,0,0,0-30.30547,30.2349l-73.51849-3.74258A256.80142,256.80142,0,0,0,.07437,173.344l54.61919,49.30854a190.1717,190.1717,0,0,0,.06215,42.83807L0,314.93434a262.45162,262.45162,0,0,0,9.24709,26.47671,254.30213,254.30213,0,0,0,12.21275,25.2483l73.67963-3.7548A188.95005,188.95005,0,0,0,125.37436,393.21l-3.74295,73.51758a255.40311,255.40311,0,0,0,51.783,21.44922l49.30853-54.61921a192.0168,192.0168,0,0,0,42.85032-.03257l49.44433,54.7544a269.97608,269.97608,0,0,0,26.44806-9.23524,262.3975,262.3975,0,0,0,25.2483-12.21275l-3.767-73.7092a188.95005,188.95005,0,0,0,30.30547-30.23489l73.51755,3.743a255.403,255.403,0,0,0,21.44922-51.783L433.5877,265.50926a195.46758,195.46758,0,0,0-.02033-42.82075ZM244.15886,329.83394a85.724,85.724,0,1,1,85.724-85.724A85.7274,85.7274,0,0,1,244.15886,329.83394Z" fill="rgb(51, 51, 51)"/></svg>');}
#header #alerts {
    background: url('icon/svg/mobile/alerts_dark.svg');}
#header #alerts:hover {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 486.9225 486.84698"><path d="M13.361,409.063A45.60309,45.60309,0,0,0,77.869,473.54L227.586,323.792l-64.508-64.447Z" transform="translate(-0.0005 -0.038)" fill="rgb(51, 51, 51)"/><polygon points="387.548 131.539 452.755 97.825 486.893 31.828 455.065 0 389.097 34.169 355.324 99.315 276.011 178.718 308.174 210.942 387.548 131.539" fill="rgb(51, 51, 51)"/><path d="M401.835,304.641l-6.141-.608a90.45474,90.45474,0,0,0-31.524,5.928L177,122.761a90.45528,90.45528,0,0,0,5.928-31.524l-.608-6.141C179.098,37.642,140.004.038,91.73.038a90.24,90.24,0,0,0-39.094,9.12l60.586,60.586a29.74193,29.74193,0,0,1,6.84,10.944,30.37545,30.37545,0,0,1-49.825,32.011L9.652,52.143A90.24,90.24,0,0,0,.532,91.237c0,48.274,37.604,87.368,85.058,90.59l6.141.608a91.1509,91.1509,0,0,0,31.524-5.897l187.139,187.17a91.8361,91.8361,0,0,0-5.867,31.524l.638,6.141c3.162,47.484,42.286,85.058,90.56,85.058a89.283,89.283,0,0,0,39.094-9.12l-60.586-60.586a31.03734,31.03734,0,0,1-6.901-10.913,30.30247,30.30247,0,0,1,28.393-40.978,29.899,29.899,0,0,1,10.579,2.067,29.16185,29.16185,0,0,1,10.913,6.84l60.586,60.586a89.91931,89.91931,0,0,0,9.12-39.094C486.893,346.957,449.289,307.863,401.835,304.641Z" transform="translate(-0.0005 -0.038)" fill="rgb(51, 51, 51)"/></svg>');}
#header .global_buffs {
    background-image: url('icon/svg/mobile/buffs_dark.svg');}
#header .global_buffs:hover {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 486.39203 486.392"><path d="M0,151.997v60.799H227.996V121.598H30.399A30.41042,30.41042,0,0,0,0,151.997Z" fill="rgb(51, 51, 51)"/><path d="M425.593,45.599C425.593,20.428,406.775,0,364.794,0c-39.307,0-70.253,17.692-91.198,38.212a60.02094,60.02094,0,0,0-61.407-.608C191.273,17.328,160.509,0,121.598,0,79.616,0,60.799,20.428,60.799,45.599s18.817,45.599,60.799,45.599H243.196l-.03-.243h.091l-.061.243H364.794C406.775,91.198,425.593,70.77,425.593,45.599Zm-236.721,15.2H121.598c-13.862,0-30.399-2.645-30.399-15.2s16.537-15.2,30.399-15.2c30.217,0,53.138,13.528,68.581,28.028Zm106.185-1.277c15.443-15.017,38.851-29.123,69.736-29.123,13.862,0,30.399,2.645,30.399,15.2s-16.537,15.2-30.399,15.2H295.756Z" fill="rgb(51, 51, 51)"/><path d="M30.399,455.992a30.40975,30.40975,0,0,0,30.399,30.399H227.996V243.196H30.399Z" fill="rgb(51, 51, 51)"/><path d="M455.992,121.598H258.396v91.198H486.392V151.997A30.41066,30.41066,0,0,0,455.992,121.598Z" fill="rgb(51, 51, 51)"/><path d="M258.396,486.392H425.593a30.40974,30.40974,0,0,0,30.399-30.399V243.196H258.396Z" fill="rgb(51, 51, 51)"/></svg>');}
#announcement {
    -webkit-filter: brightness(20%);
    -moz-filter: brightness(20%);
    -ms-filter: brightness(20%);
    -o-filter: brightness(20%);
    filter: brightness(20%);}
}