.Bandcamp {background-image: url("weblinks/svg/Bandcamp.svg");}
.Discogs {background-image: url("weblinks/svg/Discogs.svg");}
.EpicGames {background-image: url("weblinks/svg/EpicGames_dark.svg");}
.GamesWebsite {background-image: url("weblinks/svg/GamesWebsite.svg");}
.GOG {background-image: url("weblinks/svg/GOG.svg");}
.HowLongToBeat {background-image: url("weblinks/svg/HowLongToBeat.svg");}
.NexusMods {background-image: url("weblinks/svg/NexusMods.svg");}
.Steam {background-image: url("weblinks/svg/Steam.svg");}
.Oculus {background-image: url("weblinks/svg/Oculus.svg");}

#torrents #torrentbrowse #torrent_table .center.cats_col >.cats_.tags_0[title="0"],
#torrents #torrentbrowse #torrent_table td.center.cats_col >div[title=""][class=""] {
    background-image: url(icon/svg/missing.svg);}
.amigacd32 {background-image: url(icon/svg/amigacd32_dark.svg);}
.amstradcpc {background-image: url(icon/svg/amstradcpc_dark.svg);}
.atarist {background-image: url(icon/svg/atarist_dark.svg);}
.fairchildchannelf {background-image: url(icon/svg/fairchildchannelf_dark.svg);}
.gameboycolor {background-image: url(icon/svg/gameboycolor_dark.svg);}
.gamegear {background-image: url(icon/svg/gamegear_dark.svg);}
.nes {background-image: url(icon/svg/nes_dark.svg);}
.newnintendo3ds {background-image: url(icon/svg/newnintendo3ds_dark.svg);}
.nintendo3ds {background-image: url(icon/svg/nintendo3ds_dark.svg);}
.nokian-gage {background-image: url(icon/svg/nokian-gage_dark.svg);}
.rcastudioii {background-image: url(icon/svg/rcastudioii_dark.svg);}
.tangerineoric {background-image: url(icon/svg/tangerineoric_dark.svg);}
.v\.smile {background-image: url(icon/svg/v.smile_dark.svg);}
.watarasupervision {background-image: url(icon/svg/watarasupervision_dark.svg);}
.wiiu {background-image: url(icon/svg/wiiu_dark.svg);}
.Amazon {background-image: url(weblinks/svg/Amazon_dark.svg);}
.\33 do {background-image: url(icon/svg/3do.svg);}
.android {background-image: url(icon/svg/android.svg);}
.applebandaipippin {background-image: url(icon/svg/applebandaipippin.svg);}
.appleii {background-image: url(icon/svg/appleii.svg);}
.apps {background-image: url();}
.atari2600 {background-image: url(icon/svg/atari2600.svg);}
.atari5200 {background-image: url(icon/svg/atari5200.svg);}
.atari7800 {background-image: url(icon/svg/atari7800.svg);}
.atarijaguar {background-image: url(icon/svg/atarijaguar.svg);}
.atarilynx {background-image: url(icon/svg/atarilynx.svg);}
.bandaiwonderswan,
.wonderswan {background-image: url(icon/svg/bandaiwonderswan.svg);}
.bandaiwonderswancolor {background-image: url(icon/svg/bandaiwonderswancolor.svg);}
.boardgame {background-image: url(icon/svg/boardgame.svg);}
.cardgame {background-image: url(icon/svg/cardgame.svg);}
.casioloopy {background-image: url(icon/svg/casioloopy.svg);}
.casiopv-1000 {background-image: url(icon/svg/casiopv-1000.svg);}
.colecovision {background-image: url(icon/svg/colecovision.svg);}
.commodore128 {background-image: url(icon/svg/commodore128.svg);}
.commodore64 {background-image: url(icon/svg/commodore64.svg);}
.commodoreamiga {background-image: url(icon/svg/commodoreamiga.svg);}
.commodoreplus-4 {background-image: url(icon/svg/commodoreplus-4.svg);}
.commodorevic-20 {background-image: url(icon/svg/commodorevic-20.svg);}
.creativision {background-image: url(icon/svg/creativision.svg);}
.dos {background-image: url(icon/svg/dos.svg);}
.dreamcast {background-image: url(icon/svg/dreamcast.svg);}
.dsiware {background-image: url();}
.dvd {background-image: url();}
.emersonarcadia2001 {background-image: url(icon/svg/emersonarcadia2001.svg);}
.entexadventurevision {background-image: url(icon/svg/entexadventurevision.svg);}
.epochsupercasettevision {background-image: url(icon/svg/epochsupercasettevision.svg);}
.ex-bgcollections {background-image: url();}
.ex-bgfullsets {background-image: url();}
.ex-bggoldens {background-image: url();}
.funtechsuperacan {background-image: url(icon/svg/funtechsuperacan.svg);}
.game\.com,
.game.com,
.gamecom {background-image: url(icon/gamecom56.png);}
.gameboy {background-image: url(icon/svg/gameboy.svg);}
.gameboyadvance {background-image: url(icon/svg/gameboyadvance.svg);}
.gameparkgp32 {background-image: url(icon/svg/gameparkgp32.svg);}
.generalcomputervectrex {background-image: url(icon/svg/generalcomputervectrex.svg);}
.gizmondo {background-image: url(icon/svg/gizmondo.svg);}
.hartungamemaster,
.hartunggamemaster {background-image: url(icon/svg/hartunggamemaster.svg);}
.mattelintellivision,
.intellivision {background-image: url(icon/svg/mattelintellivision.svg);}
.interactivedvd {background-image: url(icon/svg/interactivedvd.svg);}
.ios {background-image: url(icon/svg/ios.svg);}
.linux {background-image: url(icon/svg/linux.svg);}
.mac {background-image: url(icon/svg/mac.svg);}
.magnavox-phillipsodyssey {background-image: url(icon/svg/magnavox-phillipsodyssey.svg);}
.mastersystem {background-image: url(icon/svg/mastersystem.svg);}
.megadrive {background-image: url(icon/svg/megadrive.svg);}
.memotechmtx {background-image: url(icon/svg/memotechmtx.svg);}
.milesgordonsamcoupe {background-image: url(icon/svg/milesgordonsamcoupe.svg);}
.miniaturewargames {background-image: url(icon/svg/miniaturewargames.svg);}
.msx {background-image: url(icon/svg/msx.svg);}
.msx2 {background-image: url(icon/svg/msx2.svg);}
.music,
.cats_ost {background-image: url(icon/svg/music.svg);}
.necpc-fx {background-image: url(icon/svg/necpc-fx.svg);}
.necpc-98 {background-image: url(icon/svg/necpc-98.svg);}
.necsupergrafx {background-image: url(icon/svg/necsupergrafx.svg);}
.necturbografx-16 {background-image: url(icon/svg/necturbografx-16.svg);}
.newnintendo3dsvc {background-image: url();}
.nintendo3dsvc {background-image: url();}
.nintendo64 {background-image: url(icon/svg/nintendo64.svg);}
.nintendods {background-image: url(icon/svg/nintendods.svg);}
.nintendogamecube {background-image: url(icon/svg/nintendogamecube.svg);}
.ouya {background-image: url(icon/svg/ouya.svg);}
.penandpaperrpg {background-image: url(icon/svg/penandpaperrpg.svg);}
.philipscd-i {background-image: url(icon/svg/philipscd-i_dark.svg);}
.philipsvideopac {background-image: url();}
.philipsvideopac\+ {background-image: url(icon/svg/philipsvideopac+.svg);}
.phonepda {background-image: url(icon/svg/phonepda.svg);}
.pico {background-image: url(icon/svg/pico.svg);}
.playstation1 {background-image: url(icon/svg/playstation.svg);}
.playstation2 {background-image: url(icon/svg/playstation2.svg);}
.playstation3 {background-image: url(icon/svg/playstation3.svg);}
.playstation4 {background-image: url(icon/svg/playstation4.svg);}
.playstationportable {background-image: url(icon/svg/playstationportable.svg);}
.playstationvita {background-image: url(icon/svg/playstationvita.svg);}
.pokemonmini {background-image: url(icon/svg/pokemonmini.svg);}
.psonpsp {background-image: url();}
.psponps3 {background-image: url();}
.retro-other {background-image: url(icon/svg/retro-other.svg);}
.saturn {background-image: url(icon/svg/saturn.svg);}
.sg-1000 {background-image: url(icon/svg/sg-1000.svg);}
.sharpx1 {background-image: url(icon/svg/sharpx1.svg);}
.sharpx68000 {background-image: url(icon/svg/sharpx68000.svg);}
.snkneogeo {background-image: url(icon/svg/snkneogeo.svg);}
.snkneogeopocket {background-image: url(icon/svg/snkneogeopocket.svg);}
.snes,
.supernes {background-image: url(icon/svg/snes.svg);}
.switch {background-image: url(icon/svg/switch.svg);}
.taitotypex {background-image: url(icon/svg/taitotypex.svg);}
.tandycolorcomputer {background-image: url(icon/svg/tandycolorcomputer.svg);}
.thomsonmo5 {background-image: url(icon/svg/thomsonmo5.svg);}
.turbografx {background-image: url();}
.vectrex {background-image: url(icon/svg/vectrex.svg);}
.virtualboy {background-image: url(icon/svg/virtualboy.svg);}
.wii {background-image: url(icon/svg/wii.svg);}
.wiiuvc {background-image: url();}
.wiivc {background-image: url();}
.wiiware {background-image: url();}
.windows {background-image: url(icon/svg/windows.svg);}
.windows95 {background-image: url();}
.windowsxp {background-image: url();}
.xbla {background-image: url();}
.xbox {background-image: url(icon/svg/xbox.svg);}
.xbox360 {background-image: url(icon/svg/xbox360.svg);}
.xboxon360 {background-image: url();}
.zxspectrum {background-image: url(icon/svg/zxspectrum.svg);}
.cats_guides,
.cats_ebooks,
.ebook {background-image: url(icon/svg/ebook.svg);}
.cats_applications {background-image: url(icon/svg/applications.svg);}
.oculusquest {background-image: url(icon/svg/oculusquest.svg);}

.torrent_table .show_torrents_link {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('arrow30x26.png');}

/** thumbs **/
.box.box_likes.box_torrents span.likes_icon.flright img,
img[src="static/common/thumbsup.png"],
img[title="ThumbsUp"],
img[title="ThumbsUp "],
#thumbsup img {
    background-image: url('icon/svg/thumbsup.svg');}
#thumbsup img:hover {
    background-color: var(--c-anchor-hvr-bcg);}
img[src="static/common/thumbsdown.png"],
img[title="ThumbsDown"],
img[title="ThumbsDown "],
#thumbsdown img {
    background-image: url('icon/svg/thumbsdown.svg');}
#thumbsdown img:hover {
    /*background-color: var(--c-anchor-hvr-bcg);*/}

img[alt="Donor"] {
    /*background-image: url('icons/donate.svg');*/}

/** invert white icons **/
img.animate_icon {
    filter: invert(1);}

/** gold **/
img[title="Gold"],
#requests_donate img,
#stats_gold a,
#wrapper .trade_value .trade_value_gold img,
.profile .box_stats #gold .stat {
    background-image: url('icon/svg/gold.svg');}
h2#username span#tip_user img,
#wrapper #trading_panel .gold_trade a#gold_trade_add img {
    background-image: url('icon/svg/gold_plus.svg');}
#wrapper #trading_panel .gold_trade a#gold_trade_subtract img {
    background-image: url('icon/svg/gold_minus.svg');}

/** banned **/
#wrapper img[src="https://gazellegames.net/static/common/symbols/disabled.png"], /* disabled (Just fine!) */
img[alt="Banned"] {
    background-image: url('icon/svg/disabled.svg');}
/** warned **/
img[alt="Warned"] {
    background-image: url('icon/svg/warned.svg');}


img[alt="RSS feed"] {
    background-image: url('icon/svg/rss.svg');}


#forums #content .thin td.unread{
    background-image: url(icon/balloon-unread.png);}
#forums #content .thin td.unread_sticky {
    background-image:url(icon/sticky-unread.png);}
#forums #content .thin td.unread_locked {
    background-image:url(icon/lock-unread.png);}
#forums #content .thin td.unread_locked_sticky {
    background-image: url(icon/lock-sticky-unread.png);}
.last_read,
.show_torrents a,
.hide_torrents a {
    background-image: url(arrow30x26.png);}





#forums #content .thin td.read {
	background-image:url("icon/balloon.png");}
#forums #content .thin td.read_sticky {
    background-image: url(icon/sticky.png);}
#forums #content .thin td.unread_sticky {}
#forums #content .thin td.read_locked {
    background-image:url(icon/lock.png);}
#forums #content .thin td.unread_locked {}
#forums #content .thin td.read_locked_sticky {
    background-image:url(icon/lock-sticky.png);}
#forums #content .thin td.unread_locked_sticky {}