/** contains color/contrast adjusted icons & stuff **/

html {
    background-image: url(zebraInv.png);}
.last_read,
.show_torrents a,
.hide_torrents a {
    background-image: url(dark-arrow30x26.png);}
.next,
.prev {
    background-image: url(icon/arrow_right_dark46x42.png);}
#equipment #equip_panel {
    background: url(equipment_panel_test-dark.png);}
#shop li.item_li.nostock #clickable .item_description,
#shop li.item_li.featured.nostock #clickable .item_description {
    background: #202124; /** opacity affects rgb values for some reason **/
    -webkit-mask-image: url(soldoutwhite.png);}

a >img[title="Snatches"] {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 428.029 429.494"><path d="M68.49,372.457c72.261,67.4,183.08,76.065,264.927,20.66,107.054-72.4,125.09-219.308,44.738-315.2L421.887,40.43c2.43-2.083,1.118-6.226-2.158-6.974L276.413.093a3.651,3.651,0,0,0-4.479,3.84l11.054,146.732c.239,3.351,4.209,5.217,6.562,3.2l43.657-37.421c56.143,67.649,45.167,169.78-26.614,223.407-61.706,46.174-149.888,39.179-203.655-16.018-56.988-58.495-57.9-148.987-7.508-208.514a29.541,29.541,0,0,0-.25-38.244C83.53,63.483,62.347,63.2,50.731,76.846-21.235,161.45-17.8,291.923,68.49,372.457Z" fill="#CBA69A"/></svg>');}
a:hover >img[title="Snatches"] {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 428.029 429.494"><path d="M68.49,372.457c72.261,67.4,183.08,76.065,264.927,20.66,107.054-72.4,125.09-219.308,44.738-315.2L421.887,40.43c2.43-2.083,1.118-6.226-2.158-6.974L276.413.093a3.651,3.651,0,0,0-4.479,3.84l11.054,146.732c.239,3.351,4.209,5.217,6.562,3.2l43.657-37.421c56.143,67.649,45.167,169.78-26.614,223.407-61.706,46.174-149.888,39.179-203.655-16.018-56.988-58.495-57.9-148.987-7.508-208.514a29.541,29.541,0,0,0-.25-38.244C83.53,63.483,62.347,63.2,50.731,76.846-21.235,161.45-17.8,291.923,68.49,372.457Z" fill="#e85066"/></svg>');}
img[title="Snatches"] {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 428.029 429.494"><path d="M68.49,372.457c72.261,67.4,183.08,76.065,264.927,20.66,107.054-72.4,125.09-219.308,44.738-315.2L421.887,40.43c2.43-2.083,1.118-6.226-2.158-6.974L276.413.093a3.651,3.651,0,0,0-4.479,3.84l11.054,146.732c.239,3.351,4.209,5.217,6.562,3.2l43.657-37.421c56.143,67.649,45.167,169.78-26.614,223.407-61.706,46.174-149.888,39.179-203.655-16.018-56.988-58.495-57.9-148.987-7.508-208.514a29.541,29.541,0,0,0-.25-38.244C83.53,63.483,62.347,63.2,50.731,76.846-21.235,161.45-17.8,291.923,68.49,372.457Z" fill="#c4c4c4"/></svg>');}
a >img[title="Leechers"],
a >img[title="Seeders"] {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 15"><polygon points="5.5 0 0 7 3 7 3 15 8 15 8 7 11 7 5.5 0" fill="#CBA69A"/></svg>');}
a:hover >img[title="Leechers"],
a:hover >img[title="Seeders"] {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 15"><polygon points="5.5 0 0 7 3 7 3 15 8 15 8 7 11 7 5.5 0" fill="#e85066"/></svg>');}
img[title="Leechers"],
img[title="Seeders"] {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 15"><polygon points="5.5 0 0 7 3 7 3 15 8 15 8 7 11 7 5.5 0" fill="#c4c4c4"/></svg>');}
img[title="Leechers"] {
    transform: scaleY(-1);}

img[src="static//styles/game_room/images/go_last_read.png"] {
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    content: url('icon/svg/arrow_dark.svg');}

#forums #content .thin td.unread{
    background-image: url(icon/balloon-unread-dark.png);}
#forums #content .thin td.unread_sticky {
    background-image:url(icon/sticky-unread-dark.png);}
#forums #content .thin td.unread_locked {
    background-image:url(icon/lock-unread-dark.png);}
#forums #content .thin td.unread_locked_sticky {
    background-image: url(icon/lock-sticky-unread-dark.png);}

#header #alerts {
    background: url(icon/svg/toolbar-light.svg);}

.amigacd32 {
    background: url(icon/svg/amigacd32_light.svg);}
.amstradcpc {
    background: url(icon/svg/amstradcpc_light.svg);}
.atarist {
    background: url(icon/svg/atarist_light.svg);}
.fairchildchannelf {
    background: url(icon/svg/fairchildchannelf_light.svg);}
.gameboycolor {
    background: url(icon/svg/gameboycolor_light.svg);}
.gamegear {
    background: url(icon/svg/gamegear_light.svg);}
.nes {
    background: url(icon/svg/nes_light.svg);}
.newnintendo3ds {
    background: url(icon/svg/newnintendo3ds_light.svg);}
.nintendo3ds {
    background: url(icon/svg/nintendo3ds_light.svg);}
.nokian-gage {
    background: url(icon/svg/nokian-gage_light.svg);}
.rcastudioii {
    background: url(icon/svg/rcastudioii_light.svg);}
.tangerineoric {
    background: url(icon/svg/tangerineoric_light.svg);}
.v\.smile {
    background: url(icon/svg/v.smile_light.svg);}
.watarasupervision {
    background: url(icon/svg/watarasupervision_light.svg);}
.wiiu {
    background: url(icon/svg/wiiu_light.svg);}
.torrent_table a.removebookmark {
    background: url("icon/svg/bookmarked_light.svg");}
.torrent_table a.removebookmark:hover {
    background: url("icon/svg/removebookmark_light.svg");}
.Amazon {
    background-image: url("weblinks/svg/Amazon_light.svg");}

.boardgame,
.cardgame,
.cats_guides,
.cats_ebooks,
.ebook,
.gameboy,
.gameboyadvance,
.generalcomputervectrex,
.interactivedvd,
.ios,
.mac,
.mattelintellivision,
.memotechmtx,
.miniaturewargames,
.music,
.cats_ost,
.necpc-98,
.necturbografx-16,
.nintendods,
.penandpaperrpg,
.phonepda,
.playstation2,
.playstation3,
.playstation4,
.playstationportable,
.playstationvita,
.sharpx1,
.sharpx68000,
.snkneogeo,
.thomsonmo5,
.wii,
.torrent_table a.addbookmark,
.Discogs,
.GamesWebsite,
.GOG,
.Steam,
.vectrex {
    -webkit-filter: brightness(77%);
    -moz-filter: brightness(77%);
    -ms-filter: brightness(77%);
    -o-filter: brightness(77%);
    filter: brightness(77%);}

.tilt.Discogs:hover,
.tilt.GamesWebsite:hover,
.tilt.GOG:hover,
.tilt.Steam:hover,
#linkedgroup.boardgame:hover,
#linkedgroup.cardgame:hover,
#linkedgroup.cats_guides:hover,
#linkedgroup.cats_ebooks:hover,
#linkedgroup.ebook:hover,
#linkedgroup.gameboy:hover,
#linkedgroup.gameboyadvance:hover,
#linkedgroup.generalcomputervectrex:hover,
#linkedgroup.interactivedvd:hover,
#linkedgroup.ios:hover,
#linkedgroup.mac:hover,
#linkedgroup.mattelintellivision:hover,
#linkedgroup.memotechmtx:hover,
#linkedgroup.miniaturewargames:hover,
#linkedgroup.music:hover,
#linkedgroup.cats_ost:hover,
#linkedgroup.necpc-98:hover,
#linkedgroup.necturbografx-16:hover,
#linkedgroup.nintendods:hover,
#linkedgroup.penandpaperrpg:hover,
#linkedgroup.phonepda:hover,
#linkedgroup.playstation2:hover,
#linkedgroup.playstation3:hover,
#linkedgroup.playstation4:hover,
#linkedgroup.playstationportable:hover,
#linkedgroup.playstationvita:hover,
#linkedgroup.sharpx1:hover,
#linkedgroup.sharpx68000:hover,
#linkedgroup.snkneogeo:hover,
#linkedgroup.thomsonmo5:hover,
#linkedgroup.wii:hover,
#linkedgroup.vectrex:hover,
.torrent_table a.addbookmark:hover {
    -webkit-filter: brightness(77%) drop-shadow(0px 0 3px rgb(232,80,102));
    -moz-filter: brightness(77%) drop-shadow(0px 0 3px rgb(232,80,102));
    -ms-filter: brightness(77%) drop-shadow(0px 0 3px rgb(232,80,102));
    -o-filter: brightness(77%) drop-shadow(0px 0 3px rgb(232,80,102));
    filter: brightness(77%) drop-shadow(0px 0 3px rgb(232,80,102));}
