body {
    color: #1e1e1e;
    background-color: #dcdcdc;}
.main_column >.box,
.sidebar .box {
    border-color: #d2d2d2;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);}
.head {
    background: linear-gradient(155deg, #12c9c2, #51cca5);
    color: #fff;}
a {
    color: #dc5356;}
.sidebar .box,
.main_column >.box {
    background-color: #f5f5f5;}