@font-face {
    font-family: "SourceSansPro";
    src: url(SourceSansPro-Regular.ttf);}
@font-face {
	font-family: "SourceSansPro";
	src: url(SourceSansPro-Italic.ttf);
	font-style: italic;}
@font-face {
	font-family: "SourceSansPro";
	src: url(SourceSansPro-SemiBold.ttf);
	font-weight: 600;}
@font-face {
	font-family: "SourceSansPro";
	src: url(SourceSansPro-Bold.ttf);
	font-weight: bold;}

html {
    line-height: 1.1em;
    font-size: 15px;}
body {
    background-size: 50px;
    font-family: SourceSansPro, Helvetica, Arial, sans-serif;
    margin: 0;
    min-height: 100%;
    min-width: 950px;
    overflow-wrap: break-word;
    position: relative;
    background-image: url('pattern2.svg');}
body, html {
    width: 100%;}
#content, #wrapper {
    margin: 0 auto;}
#content {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 1300px;
    width: 100%;}

#header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1em;
    height: 70px;
    padding: 0;
    text-align: center;
    z-index: 10;
    background: #f7f7f7;
    border-bottom: 1px solid #ccc;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.05);
    box-shadow: 0 1px 4px rgba(0,0,0,.05);
    margin-bottom: 15px;
    flex-flow: column;
    position: relative;}

#menu ul li a {
    display: block;
    padding: 10px 15px;}

#header:before {
    content: '';
    width: 200px;
    left: 0;
    top: 0;
    /* background: #ffffff; */
    position: fixed;
    z-index: -10;
    height: 100vh;}

#menu {
    font-size: 1.4em;
    width: 100%;
    order: 2;
    background-color: #f5f5f5;}
#menu ul {
    list-style: none;
    margin: 0 0 0 -40px;}
#menu ul li {
    padding: 0;
    display: inline-block;}

li.active {
    font-weight: 600;}
#menu ul li a {
    color: #323232;}
#menu ul li.active a {
    background: linear-gradient(155deg, #12c9c2, #51cca5);}

#searchbars {
    text-align: center;
    width: 100%;
    height: 34px;
    order: 1;
    background: linear-gradient(155deg, #12c9c2, #51cca5);}
#searchbars ul {
    margin: 0 auto;
    padding: 0;
    max-width: 1320px;
    list-style: none;}
#searchbars ul li {
    display: inline;}
#searchbars ul li form {
    display: inline;
    margin: 0 5px;}
#searchbars input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
    height: 26px;
    line-height: 24px;
    margin: 4px 0;
    padding: 2px 9px 0;
    position: relative;
    width: 15.55%;
    background: #f0f0f0;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 1px 1px 2px rgba(0,0,0,.1);}

#userinfo {
    order: 3;}


b, strong {
    font-weight: bold;}
ul, ol {
    margin-bottom: 0px;}
li:first-of-type {
    padding-top: 0px;}
li {
    padding: 2px 0;}

.thin {
    margin: 0 auto;}
.sidebar {
    float: right;
    height: 100%;
    width: 300px;}
.main_column >.box,
.sidebar .box {
    border: 1px solid;
    margin: 0 0 15px;}
.sidebar .box {
    padding: 10px;}
.sidebar ul {
    list-style: none;
    margin: 10px 0 10px -40px;}
.sidebar #freeleech li.group_torrent {
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;}
.box {
    font-size: 1em;}
.head {
    font-size: 1.4em;
    padding: 10px;}
.sidebar .head {
    margin: -10px -10px 0;
    font-weight: 600;}
a, a:hover {
    text-decoration: none;}
a {
    border: 0;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;}
.sidebar img {
    height: unset;
    max-width: 100%;}
img {
    border: 0;
    border-style: none;}
.center {
    text-align: center;}
.pad {
    padding: 10px;
    line-height: 1.2;}
.main_column {
    margin: 0 315px 0 0;}
