:root {
    --c-s-focus:                            #007eff;
    --c-border1:                            #e5e5e5;
    --c-i-focus:                            #ffffff;
    --c-i-bcg:                              #f0f0f0;
    --c-txt1:                               #000000;
    --c-txt2:                               #8a8a8a;
    --c-minor:                              #7a7a7a;
    --c-anchor:                             #255c7c;
    --c-anchor-hvr:                         #e85066;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Italic.ttf');
    font-style: italic;}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.ttf');
    font-weight: bold;}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-BoldItalic.ttf');
    font-weight: bold;   
    font-style: italic;}

/*@font-face {
    font-family: 'Domine';
    src: url('../fonts/Domine-Regular.ttf');}
@font-face {
    font-family: 'Domine';
    src: url('../fonts/Domine-Bold.ttf');
    font-weight: bold;}*/

@font-face {
    font-family: 'Adelle';
    src: url('../fonts/adelle_reg-webfont.ttf');
    /*src: url('../fonts/AdelleRg-Regular.ttf');*/}
/*@font-face {
    font-family: 'Adelle';
    src: url('../fonts/AdelleRg-Italic.ttf');
    font-style: italic;}
@font-face {
    font-family: 'Adelle';
    src: url('../fonts/AdelleRg-Bold.ttf');
    font-weight: bold;}
@font-face {
    font-family: 'Adelle';
    src: url('../fonts/AdelleRg-BoldItalic.ttf');
    font-weight: bold;   
    font-style: italic;}*/

@font-face {
    font-family: 'Whitney';
    src: url('../fonts/Whitney-Medium.otf');}
    

/** Get More News - duplicate news bug fix **/
#index .box.news_post:empty,
#index .box.news_post >.head:nth-child(3),
#index .box.news_post >.head:nth-child(3) +.pad {
    display: none;}

html {
    /*line-height: var(--p-lh);*/
    font-size: 13px;
    line-height: 1.3;
    scroll-behavior: smooth;}

body {
    color: var(--c-txt);
    /*background-size: 121px 38px;*/
    font-family: Lato, Sans-Serif;
    margin: 0;
    min-height: 100%;
    overflow-wrap: break-word;
    position: relative;}









a {
    color: var(--c-anchor);
    text-decoration: none;}
#wrapper a:hover,
a:hover {
    color: var(--c-anchor-hvr);}


/**********************************************************/
div#content {
    display: none;}
div#alerts {
    display: none;}
.global_buffs {
    display: none;}
.clan_trophy {
    display: none;}
.sub {
    display: none;}
div[id^="ghost"] {
    display:none;}








div#logo {
    display: block;
    height: 164px;
    width: 164px;
    /* display: none; */
    background: white;
    position: absolute;
    left: -184px;
    top: calc(50% - 82px);}
#header,
#content,
#footer {
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;}
#header {
    /*max-width: 1464px;*/
    /*max-width: 1300px;
    width: 100%;*/
    margin: 0 auto 20px auto;
    /*background: #ff000010;*/
    display: flex;
    flex-flow: row;
    position: relative;
    padding: 15px 0 10px 20px;
    box-sizing: border-box;
    border-left: 1px solid transparent;}
#header:before {
    content: '';
    position: absolute;
    left: -1px;
    top: 15px;
    width: 1px;
    height: calc(100% - 20px);
    background-color: red;}

#header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    /* background: red; */
    /* position: absolute; */}
/*#menu ul li:not(:last-child) {
    margin-right: 30px;
    }*/

#wrapper #userinfo_username {
    display: flex;
    flex-flow: row;
    margin-bottom: 8px;}
#userinfo_username #nav_userinfo {
    font-size: 0;
    line-height: 0;}
#userinfo_username .username_badges {
    display: none;}
#nav_userinfo a {
    font-size: 17px;
    line-height: 1.3;}
#userinfo_username li:not(#nav_userinfo) {
    margin: auto 0 2px 6px;
    /*line-height: 22.1px;
    margin-left: 6px;*/}

#userinfo_stats {
    display: flex;
    width: 200px;
    flex-flow: column;
    /* width: auto; */}
#userinfo_stats .stat {
    float: right;}
#userinfo_stats li {
    margin-top: 2px;}
#userinfo_stats li:first-child {
    margin-top: 0;}
#userinfo_stats li span[style] {
    margin: 0 !important;}

#stats_seeding {
    order: 1;}
#stats_leeching {
    order: 2;}
#stats_gold {
    order: 3;}
#stats_ratio {
    order: 4;}
#userinfo_stats .my_buffer {
    order: 5;}
#stats_share_score {
    order: 6;}
#stats_hnr {
    order: 7;}
#connectable{
    order: 8;}
#online_irc {
    order: 9;}

#wrapper #userinfo_minor {
    display: flex;
    flex-flow: row;
    position: absolute;
    right: 0;
    top: 65px;
    font-family: Adelle, Times New Roman;
    font-size: 15px;
    /*line-height: 1em;*/
    width: 100%;
    justify-content: space-around;
    padding: 0 35px 0 255px;
    box-sizing: border-box;
    /*padding-left: 255px;*/
    max-width: calc(900px + 220px);
    z-index: 1;}
#userinfo_minor a {
    color: var(--c-minor);}

#menu ul {
    display: flex;
    flex-flow: row;
    justify-content: space-between;}

#searchbars ul {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    /* display: block; */
    /* margin-left: auto; */}
#searchbars >ul >li {
    width: 127px;}

#userinfo ul {
    position: relative;
    z-index: 2;
    /*background-color: #0001ff10;*/}

/*div#menu ul {
    background: #00ff2b10;}*/

#menu {
    flex: 1 0 auto;
    margin-left: auto;
    display: table;
    font-family: Adelle, Times New Roman;
    /* font-size: 0; */
    /*width: 100%;*/
    /*line-height: 1em;*/
    font-size: 21px;/*}
#wrapper #userinfo_minor,
#wrapper #menu {*/
    max-width: 900px}
#menu ul {
    /* font-size: 21px; */
    /* display: block; */}
#userinfo {
    font-family: Whitney, Sans-Serif;
    font-size: 10pt;
    display: table;}
#header >#searchbars {
    width: 900px;
    max-width: calc(100% - 235px);
    position: absolute;
    right: 0;
    bottom: 15px;}




input,
select {
    outline: none;
    border-radius: 3px;
    border: 1px solid var(--c-border1);
    background-color: var(--c-i-bcg);
    /*height: 26px;
    color: unset;*/
    font-size: 13px;
    font-family: Lato, Sans-Serif;}

#searchbars input {
    color: #8a8a8a;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: var(--p-input-shdw);
    box-shadow: var(--p-input-shdw);
    background-color: var(--c-i-focus);
    font-size: 13px;
    height: 24px;
    line-height: 22px;
    padding: 0 5px;
    position: relative;
    width: 100%;}

textarea:focus,
select:focus,
input:focus,
#searchbars input:focus {
    background-color: var(--c-i-focus);
    -webkit-box-shadow: 0 0 5px var(--c-s-focus);
    box-shadow: 0 0 5px var(--c-s-focus);}


