:root {}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Italic.ttf');
    font-style: italic;}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.ttf');
    font-weight: bold;}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-BoldItalic.ttf');
    font-weight: bold;   
    font-style: italic;}

@font-face {
    font-family: 'Domine';
    src: url('../fonts/Domine-Regular.ttf');}
@font-face {
    font-family: 'Domine';
    src: url('../fonts/Domine-Bold.ttf');
    font-weight: bold;}
    

/** Get More News - duplicate news bug fix **/
#index .box.news_post:empty,
#index .box.news_post >.head:nth-child(3),
#index .box.news_post >.head:nth-child(3) +.pad {
    display: none;}

body {
    color: var(--c-txt);
    /*background-size: 121px 38px;*/
    font-family: Lato, Sans-Serif;
    margin: 0;
    min-height: 100%;
    overflow-wrap: break-word;
    position: relative;}









a {
    text-decoration: none;}


/**********************************************************/
div#content {
    display: none;
}

div#logo {
    display: block;
    height: 164px;
    width: 164px;
    /* display: none; */
    background: white;
    position: absolute;
    left: -184px;
    top: calc(50% - 82px);
}

div#alerts {
    display: none;
}

.global_buffs {
    display: none;
}

.clan_trophy {
    display: none;
}

div#header {
    max-width: 1464px;
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    background: #ff000010;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    padding: 15px 0 10px 20px;
    box-sizing: border-box;
    border-left: 1px solid black;
}

#header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    /* background: red; */
    /* position: absolute; */
}
#menu ul li:not(:last-child) {
    margin-right: 30px;
    }
.sub {
    display: none;
}

#wrapper #userinfo_username {
    display: flex;
    flex-flow: row;
    margin-bottom: 15px;
}

#userinfo_stats {
    display: table;
    /* flex-flow: column; */
    /* width: auto; */
}

#userinfo_stats li {/* display: table; */}

#wrapper #userinfo_minor {
    display: flex;
    flex-flow: row;
    position: absolute;
    right: 0;
    top: calc(15px + 18px + 35px);
    font-family: Domine, Times New Roman;
    font-size: 15px;
    line-height: 1em;
    width: 892px;
    justify-content: space-around;
    padding: 0 35px;
    box-sizing: border-box;
}

#menu ul {
    display: flex;
    flex-flow: row;
}

#searchbars ul {
    display: flex;
    flex-flow: row;
    /* display: block; */
    /* margin-left: auto; */
}

div#userinfo ul {
    background-color: #0001ff10;
}

div#menu ul {
    background: #00ff2b10;
}

#menu {
    margin-left: auto;
    display: table;
    font-family: Domine, Times New Roman;
    /* font-size: 0; */
    line-height: 1em;
    font-size: 21px;
    }
#menu ul {
    /* font-size: 21px; */
    /* display: block; */
    }

div#userinfo {
    display: table;
}

div#searchbars {
    position: absolute;
    right: 0;
    bottom: 0;
}