:root {}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Regular.ttf');}
@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Italic.ttf');
    font-style: italic;}
@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Bold.ttf');
    font-weight: bold;}
@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-BoldItalic.ttf');
    font-weight: bold;   
    font-style: italic;}

@font-face {
    font-family: 'Domine';
    src: url('fonts/Domine-Regular.ttf');}
@font-face {
    font-family: 'Domine';
    src: url('fonts/Domine-Bold.ttf');
    font-weight: bold;}
    

/** Get More News - duplicate news bug fix **/
#index .box.news_post:empty,
#index .box.news_post >.head:nth-child(3),
#index .box.news_post >.head:nth-child(3) +.pad {
    display: none;}

body {
    color: var(--c-txt);
    background-color: var(--c-body);
    background-size: 50px 50px;
    font-family: 'Lato', Sans-Serif;
    margin: 0;
    min-height: 100%;
    overflow-wrap: break-word;
    position: relative;}